<div class="container-page">
    <div class="banner-top">
        <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, class: "avatar-large" %>
        <% else %>
            <%= image_tag "https://st3.depositphotos.com/6672868/13701/v/450/depositphotos_137014128-stock-illustration-user-profile-icon.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% end %>
        <h1>Hi <strong><%= current_user.nickname.capitalize %></strong>!</h1>
        <h5>Welcome to AGIR Montreal Community</h5>
    </div>

    <div class="card-text-btn">
        <h3>Official Annoucement <span class="iconify" data-icon="mdi:bullhorn-outline" data-inline="false"></span></h3>
        <p>This is a beta version of AGIR's community portal. It is introduced with the intention to build a safe queer migrate community online in response to the Covid-19 situaiton.  </p>
        <p>The first phase is an online forum.  Futher development is contingent upon our member's needs.</p>
        <hr>
        <a href="#">Read More</a>
    </div>

    <div class="card-text-btn">
        <h3>Participation Rules <span class="iconify" data-icon="ic:baseline-format-list-numbered" data-inline="false"></span></h3>
        <p>Kindly refer to these rules for participation. Repeated violation of these rules may result in the suspension of your account.</p>
        <hr>
        <a href="#" class="">View Rules</a>
    </div>

    <div class="cards-space">
        <% @spaces.each do |space| %>
            <%= link_to space_path(space) do %>
                <div class="card-space">
                    <h4><%= space.name %></h4>
                    <p><%= space.description %></p>
                    <h5># Posts: <%= space.posts.count %></h5>
                    <div class="card-space-links">
                        <%= link_to edit_space_path(space), class: "btn-icon" do %>
                            <i class="far fa-edit"></i>
                        <% end %>
                        <%= link_to space_path(space), method: :delete, data: { confirm: "Are you sure?"}, class: "btn-icon"  do %>
                            <i class="far fa-trash-alt"></i>
                        <% end %>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>

</div>
