<div class="page-container">
    <% @spaces.each do |space| %>
        <%= link_to space_path(space) do %>
            <div class="card-space">
                <h2><%= space.name %></h2>
                <p><%= space.description %></p>
                <div class="card-space-links">
                    <%= link_to "Edit", edit_space_path(space) %>
                    <%= link_to "Delete", 
                        space_path(space),
                        method: :delete,
                        data: { confirm: "Are you sure?"} %>
                </div>
            </div>
        <% end %>
    <% end %>

    <%= link_to "+ space", new_space_path %>
</div>
